<div class="table-wrapper">
  <app-fetched-rooms-result-table [availableRooms]="availableRooms"
                                  (selectedRoom)="saveSelectedRoomId($event)">
  </app-fetched-rooms-result-table>
  <div class="room-buttons">
    <app-player-options-dialog-button [text]="'Join room'"
                                      (playerOptions)="joinRoom($event)">
    </app-player-options-dialog-button>
    <app-player-options-dialog-button [text]="'Create room'"
                                      (playerOptions)="createRoom($event)">
    </app-player-options-dialog-button>
  </div>
</div>


