:host 
    display: block

    app-fetched-rooms-result-table
        width: 60%
        padding-bottom: 1em

    .table-wrapper
        display: flex
        flex-direction: column
        height: calc(100% - 10rem)
        padding-top: 10rem
        align-items: center
        justify-content: flex-start