<div *ngIf="tiles" class="tiles" id="tiles-area">

  <app-tile *ngFor="let tile of tiles"
            [tile]="tile"
            [rotation]="tile.rotation"
            [translate]="placeTilesFromBackendOnBoard(tile)">
  </app-tile>

  <app-tile [tile]="tiles[0]"
            [translate]="translateValueCurrentTile">
  </app-tile>

  <app-empty-tiles *ngFor="let emptyTile of emptyTiles | keyvalue"
                   [id]="emptyTile.key"
                   [translate]="emptyTile.value.position"
                   emptyTileClick
                   (click)="emptyTileSelected(emptyTile)">
  </app-empty-tiles>

</div>
